# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
tmp/
out/
.angular/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
